{% extends 'auth_base.html' %}

{% block title %}Login{% endblock %}

{% block head %}
    <center>
        <h1>Login</h1>
    </center>    
{% endblock %}

{% block content %}
    <center>
    <!--Flash message
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    -->

    <!-- Existent user login form -->
    <form action="/login" autocomplete="on" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="UserName" class="form-label">Username</label>
        <input type="text" class="form-control" id="UserName" name="username">
        </div>
        <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </center>
{% endblock %}



